html, body {
    padding:0;
    margin:0;
}
/* .container {
    height: 100vh;
} */

.gallery {
    height: 100vh;
    border: 2px solid black;
    background-color: tomato;
}
.gallery .preview {
    position: relative;
    display: none;
    
    border: .1rem solid black;
    background-color: lightsalmon;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
.gallery .outline {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: lightsalmon;
    justify-items: left;
    justify-content: left;
    align-items: center;
    align-content: center;  
}

.gallery .outline .item {
    position: relative;
    flex-shrink: 0;
    width:200px;
    height:200px;
}

.gallery .preview .caption {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    color: blanchedalmond;
    background-color: black;
    opacity: .50;
    padding: 0.5rem;
    border-radius: 0 0 0.3rem 0.3rem;
}

.gallery .preview .close {
    position: absolute;
    top: .4rem;
    right: 0.3rem;
    cursor: pointer;
    background-color: black;
    color: blanchedalmond;
    border-radius:50%;
    width:40px;
    font-size: 2rem;
    text-align: center;
} 
.gallery .preview .add {
    position: absolute;
    bottom: 0.2rem;
    right: 0.3rem;
    background-color: black;
    color: blanchedalmond;
    border-radius:50%;
    width:40px;
    font-size: 2rem;
    text-align: center;
} 

.gallery .preview .rating {
    position: absolute;
    bottom: 0rem;
    color: blanchedalmond;
    background-color: black;
    opacity: .50;
    border-radius: 0 0.1rem 0 0;
    font-size: 2rem;
} 
