/* 
*
* Photo styles:
*  - overview: The style used for a photo when it's presented side by side vertically and horisontaly (grid, but actually flex)
*  - minimap: The style used when we hava an active photo in preview, then this would be all photos in the minimap
*  - preview: The style used for the photo beeing previewed
*
*
*/


/* OVERVIEW */
.photo.photo-overview {
    padding: 5px;
    margin: 1rem;
    border: solid 1px #EFEFEF;
}

.photo.photo-overview:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

/* MINIMAP */
.photo.photo-minimap {
    border: solid 1px #EFEFEF;
    opacity: 0.7;
}
.photo.photo-minimap.photo-active {
    opacity: 1;
}

.photo.photo-minimap:hover {
    opacity: 1;
}

/* preview */
.photo.photo-preview {
    border: solid 1px #EFEFEF;
}

.photo.photo-preview:hover {
    border: solid 1px #CCC;
        
}